@font-face {
  font-family: 'Goyang';
  src: url('/src/fonts/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 다크 모드 뿐만아니라 테마변경에 응용가능 */
:root[color-mode='dark'] {
  /* 이런 선택자 쓸수있다 */
  --background: #000;
  --textColor: white;
}

body {
  background-color: var(--background);
  color: var(--textColor);
}

html {
  box-sizing: border-box;
}

body * {
  font-family: 'Goyang';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 초기 높이를 설정해 한번에 로딩되는 것을 방지 */
  min-height: 300px;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 80%;
  font-size: 40px;
  padding: 10px 15px;
}

.RandomButton {
  width: 20%;
  font-size: 40px;
  cursor: pointer;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

.ImageInfo .close {
  cursor: pointer;
}

.DarkModeToggle {
  width: 30px;
  height: 30px;
}

.Loading {
  /* fixed는 html흐름에서 모달같은 것을 만들 때, 화면 전체를 덮는식으로 */
  position: fixed;
  /* 화면을 덮어서 다른동작을 하지못하게함 */
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  /* 그냥 100%를 하면 부모요소(fixed시 body)까지 계속 100%로 조정을 해줘야해서 viewport기준인 vh로 해줌 */
  /* 말그대로 화면 세로로 100% 꽉채워서 쓰겠다는 뜻 */
  /* fixed라서 되는거고 다른 상속관계에서는 안될수도있다  */
  height: 100vh;
  /* a는 알파값:투명도 */
  background: rgba(0, 0, 0, 0.3);
}

/* 가운데 정렬 외워서 쓰자 */
.Loading p {
  /* absolute top,left, tranform translate으로 세로가로가운데정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  /* 해당 엘리먼트의 50%만큼 이동 */
  transform: translate(-50%, -50%);
  font-size: 40px;
}

/* .Empty {
  font-size: 30px;
  padding: 100px 0;
  text-align: center;
}

.Empty p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
} */

/* 암기의 영역입니다 */
/* 괄호안은 조건(max-width ~ ) */
@media screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .ImageInfo .content-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

/* dark mode 처리 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: white;
  }
}
